/* || Basics styles */

body {
    margin: 0;
    overflow-x: hidden;
    width: 100vw;

}

h1, h2, h3 {
    font-family: 'Overpass',  sans-serif;
    color: #1F3E5A;
    margin: 0;

}

h1 {
    font-size: 64px;
    font-weight: 600;
    line-height: 98.05px;
    letter-spacing: -1.92px;
    color: #FFFFFF;
    margin-bottom: 30px;

}

h2 {

    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 43px;



}

h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
    padding-bottom: 16px;

}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    list-style: none;

}

li {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}

p {
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #4C5862;
    letter-spacing: 0.5px;
    padding-bottom: 64px;
    margin: 0;
}


button, a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.38px;
    letter-spacing: 0.5px;

}


button, button:focus, button:active {

    width: 137px;
    height: 48px;
    border-radius: 28px;
    border: 1px solid #FFFFFF ;
    background-color: #FFFFFF;
    outline: none;

}



button.primary {
    color: #FF505C;
    background-color: #FFFFFF;

}

button.primary:hover {
    color: #FFFFFF;
    background-color: #FF7B86;
    border: none;
}

button.secondary {
    background-color: transparent;
    color: #FFFFFF;

}

button.secondary:hover {
    color: #FF7B86;
    background-color: #FFFFFF;
}

.container {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
}



/* || Navbar */

/* || Navbar - Desktop */

@media screen and (min-width: 1060px) {
    .navbar {
        padding: 63px 161px 119px 167px;
        line-height: 18.38px;
        font-weight: 700;
        justify-content: space-evenly;
        transition: ease-out 0.3s;
    }

    .navbar ul li {
        padding-left: 32px;
    }

    .nav-menu ul li {
    display: inline-block;
    }

    .navbar .nav-menu ul li img {
    padding-left: 8px;
    }

    .nav-menu-space {
        flex-grow: 1;
    }

    #login {
    opacity: 0.75;
    }


    nav .nav-menu .submenu {
        position: relative;
        float: right;

    }

    nav .nav-menu .submenu ul {
        padding: 0px;

    }

    nav .nav-menu .submenu ul li {
        margin: 0px;
        padding: 0px;
        display: block;
    }


    .nav-menu .submenu {
        display: none;
    }


    .nav-menu li:hover > .submenu {
        display: block;
        position: absolute;
        margin-top: 27px;
        padding: 24px;
        background-color: #FFFFFF;
        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.243444);
        border-radius: 5px;
        font-weight: 400;
        line-height: 33px;
        width: 168px;
        height: 147px;
    }


    nav .nav-menu li:hover > .submenu ul li {
        color: #2D2E40;
        margin-top: 10px;
    }

    nav .nav-menu li:hover {
        font-weight: 700;
    }

    .connect {
        position: absolute;
        padding-bottom: 27px;

    }

    .connect:hover {
        text-decoration: underline;

    }

    .connect img {
        transition: 0.5s;

    }


    .connect:hover img {
        transform: scaleY(-1);
        transition: 0.5s;

    }

    .nav-secondary-menu ul li  {
    display: inline-block;

}

    .burger-menu {
        display: none;
    }

    .burger-menu-submenu {
        display: none;
    }
}

/* || Navbar - Mobile */

@media screen and (max-width: 1060px) {
    .nav-menu {
        display: none;
    }

    .nav-secondary-menu {
        display: none;

    }

    .burger-menu {
        display: block;

    }

    .animations {
        animation: fadeIn;
        animation-duration: 0.5s;

    }

    .animations-down {
        animation: fadeInDown;
        animation-duration: 0.5s;

    }

    .arrow-active {
        transform: scaleY(-1);
        transition: 0.5s;
    }


    .burger-menu-close {
        display: none;
    }

    .navbar {
        padding: 56px 24px; /* a revoir j'ai pas utilise la mm class avant*/
        justify-content: space-between;
        flex-wrap: nowrap;
        transition: ease-out 0.3s;
    }

    .logo {
        width: 327px;
        height: 32px;

    }


    .burger-menu-submenu {
        background-color: #FFFFFF;
        width: 90%;
        height: 45%;
        text-align: center;
        display: none;
        flex-flow: column;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 25px;
        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.243444);
        border-radius: 5px;
        gap: 0;
        transition: fadeIn 0.5s;
        position: absolute;
    }

      .submenu-secondary-on {
        height: 70%;
    }



    .burger-menu-submenu ul {
        padding-left: 0;
    }

    .burger-menu-submenu li {
        color: #1F3E5A;
        padding-bottom: 25px;
    }

    .burger-menu-submenu li img {
        padding-left: 8px;

    }

    .burger-menu-submenu-main {
        padding-top: 25px;
    }

    .burger-menu-submenu-secondary {
        background: #EEEEF0;
        color: #536A7F;
        border-radius: 5px;
        width: 276px;
        height: 150px;
        margin-bottom: 25px;
        display: none;
        flex-flow: column;
        justify-content: center;
    }

    .active {
        display: flex;
    }

    .animations {

    }



    #linkedin {
        padding-bottom: 0;
    }

   .list-login {
        width: 276px;
        height: 125px;
        border-top: solid 1px #E8E4E4;
        padding-top: 25px;
        display: flex;
        flex-flow: column;
        align-items: center;
    }

   .list-login li button {
       background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
       color: #FFFFFF;
       border-radius: 28px;
   }


}

/* || Header - Global */

.container-content-header {
    text-align: center;

}

.header-title h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;

}


p.header-paragraph {
    color: #FFFFFF;
    padding-bottom: 48px;

}

button.secondary {
        margin-left: 15px;
    }

header {
        background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
        border-radius: 0px 0px 0px 100px;
        height: auto;
    }

/* || Header - Desktop */

@media screen and (min-width: 1060px) {


    .container-header {
        background-image: url(images/bg-pattern-intro-desktop.svg);
        background-size: 3000px 3000px;
        background-position: 25% 52%;
        background-repeat: no-repeat;
        height: auto;
        padding-bottom: 155px;
        border-radius: 0px 0px 0px 100px;
        transition: ease-out 0.3s;

    }
}

/* || Header - Mobile */

@media screen and (max-width: 1060px) {

    .header-title h1 {
        font-size: 36px;
        transition: ease-out 0.3s;
    }

    .container-header {
        background-image: url(images/bg-pattern-intro-mobile.svg);
        background-position: 35% 30%;
        background-repeat: no-repeat;
        height: auto;
        padding-bottom: 155px;
        border-radius: 0px 0px 0px 100px;
        transition: ease-out 0.3s;


    }

}


/* || Section 1 */

/* || Section 1 - Global */

.container-section-1  {
    display: flex;
}

.container-content {
    display: flex;
}

.container-section-1-column {
    display: flex;
}

.image-section-1 {
    display: flex;
}

#paragraph-section-1 {
    padding-bottom: 0;
}


/* || Section 1 - Desktop */

@media screen and (min-width: 1414px) {

    .container-section-1  {
        padding: 70px 0 0 165px;
        flex-flow: row wrap;
        overflow-x: hidden;
        gap: 0;
    }

     .container-section-1 h2 {
         width: 100%;
         text-align: center;
         padding: 150px 0 90px 0;
     }

     .container-content {
         flex-flow: row;
     }

     .container-section-1-column {
         padding-right: 0;
         flex-flow: column;
         justify-content: center;
     }

     .image-section-1-desktop {
         width: 880px;
         height: 882px;
         position: relative;
         left: 18%;
         bottom: 15%;
     }

    .image-section-1-mobile {
        display: none;
    }
}

/* || Section 1 - Mobile */

@media screen and (max-width: 1414px) {

    .container-section-1  {
        padding: 100px 0px 270px 0px;
        flex-flow: column;
        gap: 38px;
    }

     .container-section-1 h2 {
         text-align: center;
     }

     .container-content {
         flex-flow: column;
         align-items: center;
         gap: 45px;
     }

     .container-section-1-column {
         text-align: center;
         padding: 0 33px;
         flex-flow: column;
     }


     .image-section-1-desktop {
        display: none;
     }

    .image-section-1-mobile {
        width: 100%;
        display: flex;
        align-items: baseline;
    }
    
    @keyframes animation-section-1-monile {

        
    }
}

/* || Section 2 */

/* || Section 2 - Global */

.container-section-2 {
    display: flex;
}

.container-section-2-background {
    display: flex;
    background: linear-gradient(135deg, #2D2E40 0%, #3F4164 100%);
    border-radius: 0px 100px;
}

.container-section-2-background-image {
    background-image: url("images/bg-pattern-circles.svg");
    background-repeat: no-repeat;
}

.container-section-2-text h2 {
    color: #FFFFFF;
}

.container-section-2-text p {
    color: #FFFFFF;
}

/* || Section 2 - Desktop */

@media screen and (min-width: 1414px) {

    .container-section-2 {
        padding-top: 60px;
        height: 330px;
        flex-flow: row;
    }

     .container-section-2-background {
        flex-flow: row;
    }

    .container-section-2-background-image {
        display: flex;
        flex-flow: row;
        gap: 100px;
        align-items: center;
        background-position-y: -600px;
        background-position-x: -100px;
    }

    .container-section-2-background img {
        width: 472px;
        height: 499px;
        padding-left: 165px;
    }

    .container-section-2-text {
        padding-right: 165px;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    .container-section-2-text h2 {
            padding-bottom: 5px;
        }

    .container-section-2-text p {
            padding-bottom: 0px;
        }
}

/* || Section 2 - Mobile */

.container-section-2-background img {
        bottom: 25%;
    }

@media screen and (max-width: 1414px) {

        .container-section-2 {
        text-align: center;
        height: 625px;
    }

     .container-section-2-background-image {
         background-position: center;
         background-size: 625px 604px;
         background-position-y: -230px;
         border-radius: 0px 100px;
    }

    .container-section-2-background img {
        width: 100%;
        position: relative;
        bottom: 25%;
    }

     .container-section-2-text {
         position: relative;
         bottom: 20%;
         padding: 0 25px 110px 25px;

     }


        .container-section-2-text h2 {
            padding-bottom: 10px;

        }

}

/* || Section 3 */

/* || Section 3 - Global */

.container-section-3 {
    display: flex;
}

.container-content-section-3 {
    display: flex;
}

.container-section-3-text {
    width: 100%;
    display: flex;
    flex-flow: column;
    flex-grow: 2;
}

/* || Section 3 - Desktop */

@media screen and (min-width: 1414px) {

    .container-section-3 {
        padding: 115px 0px 125px 0;
    }

    .container-content-section-3 {
        position: relative;
        gap: 125px;
        left: -19%;
        flex-direction: row;
    }

    .container-section-3-text {
        justify-content: center;
    }

    .image-section-3 {
        width: 900px;
        height: 786px;
    }

    .image-section-3-desktop {
        width: 950px;
        height: 786px;

    }

    .image-section-3-mobile {
            display: none;
    }

}

/* || Section 3 - Mobile */

@media screen and (max-width: 1414px) {

    .container-section-3 {
        flex-direction: column;

    }

    .container-content-section-3 {
        flex-direction: column;
        padding-bottom: 100px;
    }

     .container-section-3-text {
        text-align: center;
    }

     .container-section-3-text h3 {
         padding-top: 45px;
    }

     .container-section-3-text p {
         padding: 0px;
    }

    .image-section-3 {
       width: 375px;
       height: 315px;
       padding-top: 80px;
       align-self: center;

    }

     .image-section-3-desktop {
            display: none;
    }

     .image-section-3-mobile {
            width: 375px;
            height: 315px;
    }
}

/* || Footer */

/* || Footer - Global */

footer {
    background-color: #24242C;
}

.footer-container {
    display: flex;
}

.footer-logo {
    display: flex;
    width: 101px;
    height: 40px;
}

.footer-column-1 {
    display: flex;
}

.footer-container li {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 33px;
    mix-blend-mode: normal;
    color: #C8C8CA;
}

.footer-column-2 {
    display: flex;
}

.footer-column-3 {
    display: flex;
}


#footer-product {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 33px;
    padding-bottom: 21px;
    color: #FFFFFF;
}

#footer-company {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 33px;
    padding-bottom: 21px;
    color: #FFFFFF;
}

#footer-connect {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 33px;
    padding-bottom: 21px;
    color: #FFFFFF;
}

/* || Footer - Desktop */

@media screen and (min-width: 1414px) {

    .footer-container {
        align-items: flex-start;
        justify-content: space-between;
        padding: 70px 165px;
    }
}


/* || Footer - Mobile */

@media screen and (max-width: 1414px) {

    .footer-container {
        text-align: center;
        padding: 70px 165px;
        flex-flow: column;
        align-items: center;
    }

    .footer-container ul {
        padding: 0 0 40px 0;
    }

    .footer-column-3 ul {
        padding-bottom: 75px;
    }

    .footer-logo {
        padding-bottom: 72px;
    }

}

/* || Animations */

    .fadeIn {
        animation: fadeIn;
        animation-duration: 2s;
    }